In [35]:
import pandas as pd

Importing BACI 2018 Data (HS17) http://www.cepii.fr/CEPII/en/bdd_modele/download.asp?id=37

In [36]:
all_2018 = pd.read_csv('BACI_HS17_Y2018_V202001.csv')

Selecting Malawi only from the BACI Data. Malawi country code = 454 and i = exporter.

In [37]:
malawi = [454]
malawi_2018 = all_2018[all_2018.i.isin(malawi)]
malawi_2018

            t    i    j       k          v      q
3932726  2018  454   24  820719   3.924000  0.798
3932727  2018  454   32  121190   4.960885  1.100
3932728  2018  454   36   90111  23.253868  7.970
3932729  2018  454   36  870880   2.297757  0.275
3932730  2018  454   40   80290  26.256640  0.998
...       ...  ...  ...     ...        ...    ...
3933765  2018  454  894  940190   2.757000  4.030
3933766  2018  454  894  940370   1.346000  0.450
3933767  2018  454  894  940389  43.966000  4.600
3933768  2018  454  894  940429   8.657000  5.000
3933769  2018  454  894  960340   1.060000  0.059

[1044 rows x 6 columns]

In [38]:
malawi_2018.sum()

t    2.106792e+06
i    4.739760e+05
j    6.334710e+05
k    4.788721e+08
v    9.132848e+05
q    5.310900e+05
dtype: float64

Total Merchandise Export Earning By Malawi in thousannds current USD

In [39]:
 9.132848e+05

913284.8

In [40]:
tobacco = [240110, 240120, 240130, 240220, 240310, 240391]
malawi_tobacco_2018 = malawi_2018[malawi_2018.k.isin(tobacco)]
malawi_tobacco_2018

            t    i    j       k              v          q
3932745  2018  454   51  240120    5801.255432   1315.038
3932754  2018  454   58  240110    5924.840972   1171.827
3932755  2018  454   58  240120  196331.366911  36101.509
3932756  2018  454   58  240130    4614.602000   7091.600
3932760  2018  454   70  240120     499.886874     90.600
...       ...  ...  ...     ...            ...        ...
3933592  2018  454  842  240120   24199.223862   5344.100
3933593  2018  454  842  240130     145.019034    200.600
3933611  2018  454  858  240120     668.835719    158.400
3933612  2018  454  860  240120     359.282234     65.840
3933641  2018  454  894  240220       1.811000      0.750

[83 rows x 6 columns]

In [41]:
malawi_tobacco_2018.sum()

t    1.674940e+05
i    3.768200e+04
j    4.189500e+04
k    1.993043e+07
v    6.215791e+05
q    1.457334e+05
dtype: float64

Tobacco Export Earning By Malawi in thousannds current USD

In [42]:
 6.215791e+05

621579.1

Tobacco Exports Divided by Total Merchandise Export Earning

In [44]:
(621579.1/913284.8)*100

68.05972244364517

In [ ]:
Tobacco Exports Divided by GDP 2018

In [45]:
(621579.1/6917301.91)*100

8.98586050005153